.radio-check {
  input {
    display: none;
  }
  label {
    position: relative;
    display: block;
    padding-left: 5px;
    font-size: 14px;
    margin: 0;
    span {
      display: inline-block;
      margin-left: 15px;
    }
    &::before {
      position: absolute;
      left: 0;
      top: 2px;
    }
  }
  &.radio {
    .radio-label {
      &::before {
        content: url('https://api.iconify.design/ion:radio-button-off.svg?color=%23a5a5a5&height=16');
        vertical-align: -0.125em;
      }
    }
    input:checked + .radio-label::before {
      content: url('https://api.iconify.design/ion:radio-button-on.svg?color=%231d62ae&height=16');
      vertical-align: -0.125em;
      color: $midBlue;
    }
  }
  &.check {
    .check-label {
      &::before {
        content: url('https://api.iconify.design/ion:square-outline.svg?color=%23a5a5a5&height=16');
        vertical-align: -0.125em;
        color: $brownLightGrey;
      }
    }
    input:checked + .check-label::before {
      content: url('https://api.iconify.design/ion:checkbox.svg?color=%231d62ae&width=16&height=16');
      vertical-align: -0.125em;
      color: $midBlue;
    }
  }
}
.radio-opt {
  &-label {
    display: block;
    width: 100%;
    color: $secondaryText;
    margin-bottom: 15px;
  }
  &-row {
    background-color: rgba(31,150,255,0.05);
    padding: 5px;
  }
  &-input {
    display: none;
  }
  &-item {
    display: block;
    width: 100%;
    color: $secondaryText;
    text-align: center;
    padding: 8px 10px;
    margin: 0;
  }
  &-input:checked + &-item {
    border-radius: 5px;
    background-color: $white;
    box-shadow: 0 1px 6px 0 rgba(29,98,174,0.2);
    font-family: 'museo_sans700', sans-serif;
    color: $midBlue;
  }
}