.f-semibold {
  font-family: 'museo_sans500', sans-serif;
}
.f-bold {
  font-family: 'museo_sans700', sans-serif;
}
.f-extrabold {
  font-family: 'museo_sans900', sans-serif;
}
.f-10 {
  font-size: 0.625rem;
}
.f-12 {
  font-size: 0.75rem;
}
.f-14 {
  font-size: 0.875rem;
}
.f-16 {
  font-size: 1rem;
}
.f-18 {
  font-size: 1.125rem;
}
.f-20 {
  font-size: 1.25rem;
}
.f-22 {
  font-size: 1.375rem;
}
.f-24 {
  font-size: 1.5rem;
}
.color-primary {
  color: $midBlue; 
}