$midBlue: #1d62ae;
$miceBlue: #107cb3;
$clearBlue: #1f96ff;
$brightSkyBlue: #1ac1f1;
$skyBlue: #84b3e6;
$lightBlue: #e3e8ef;
$lightBlueTwo: #e5edf6;

$fogGreen: #019b07;
$red: #cb0000;
$orange: #ffa800;

$greyishBrown: #4c4c4c;
$brownGrey: #797979;
$brownLightGrey: #a5a5a5;
$lightGrey: #d2d2d2;
$paleGrey: #e6e4e4;
$paleGreyTwo: #f4f7fb;

$white: white;
$black: black;

$lightBackground: rgba(31,150,255,0.05);
$primaryBackground: #fff;
$primaryBackgroundLight: #e3e8ef;
$primaryBackgroundLighter: #e5edf6;

$primaryText: #000;
$primaryColor: #1d62ae;
$secondaryText: #A5A5A5;
$secondaryTextDark: #797979;
$boxShadow: 0 1px 6px 0 rgba(29,98,174,0.1);
$dangerText: #CB0000;
$shimmerLight: #f6f7f8;
$shimmerDark: #edeef1;